{{!
    @template local_flwmedia/card_audio
}}
<article class="flwmedia-card flwmedia-card-listen" data-itemid="{{id}}" data-mode="listen">
    <div class="flwmedia-audio">
        <audio controls preload="metadata">
            {{#hasmediaurl}}<source data-src="{{mediaurl}}">{{/hasmediaurl}}
        </audio>
    </div>
    <div class="flwmedia-card-body">
        <h4>{{title}}</h4>
        {{#description}}<p>{{description}}</p>{{/description}}
        {{#hastranscript}}<details><summary>{{#str}}transcript, local_flwmedia{{/str}}</summary><p>{{transcript}}</p></details>{{/hastranscript}}
    </div>
</article>
