{{!
    This file is part of Moodle - http://moodle.org/

    @template local_flwmedia/mediahub
}}
<div class="flwmedia-hub"
     data-language="{{language}}"
     data-courseid="{{courseid}}"
     data-unitcode="{{unitcode}}"
     data-defaultmode="{{defaultmode}}">
    <div class="flwmedia-loading">Loading FLW practice...</div>
</div>
